#back {
    color: #011433;
    margin-top: 10px;
    background-color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px black;
    font-size: 1.5em;
    text-decoration: none;
}

#back:hover {
    margin-top: 10px;
    background-color: whitesmoke;
    border: none;
    padding: 7px 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px black;
}
#back:active {
    background-color: gray;
}

.container {
    padding: 0;
}

.container-fluid { 
    color: #011433;
    padding: 25px 0;
}


.container-fluid h1 {
    color: #0D254A;
    margin: 0 0 25px;
}

.carousel-caption {
    background: #011433;
    opacity: 0.25;
    border-radius: 25px;
}

.carousel-caption:hover {
    opacity: 0.9;
}

.carousel-caption p {
    font-size: 1.25em;
    color: white;
    padding: 0 10px;
}

#carousel {
    margin: 0 auto;
    display: block;
    width: 75%;
    height: auto;
}

.carousel-indicators > li {
    background-color: black;
}

.row h1 {
    text-align: center;
    font-size: 4em;
}
@media only screen and (width <= 576px) {
    .carousel-item img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
    .row h1 {
        font-size: 3em;
    }
}


@media only screen and (width >= 576px) {
    .carousel-item img{
        object-fit: cover;
        width: 100%;
        height: 360px;
        border-radius: 30px;
    }
}

@media only screen and (width >= 768px) {
    .carousel-item img{
        object-fit: cover;
        width: 100%;
        height: 480px;
        border-radius: 30px;
    }
}

@media only screen and (width >= 992px) {
    .carousel-item img{
        object-fit: cover;
        width: 100%;
        height: 720px;
        border-radius: 30px;
    }
}

.icon {
    background-color: black;
    opacity: 0.75;
    border-radius: 5px;
}