body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #011433;
    text-align: justify;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    color: #011433;
}

.hr-header {
    border: 3px double #294675;
    background-color: #294675;
    margin: 0 0 10px 0;
}

#my-image {
    border: solid 10px #89A2C9;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 75%;
    height: auto;
    margin: 25px 0;
}

.header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    color: #011433;
}

.sub-header {
    font-size: 1.2em;
    font-weight: bold;
    margin: 15px 0;
    text-align: left;
    color: #0D254A;
}

.tag {
    border: 1px solid black;
    border-radius: 1.75em;
    padding: 2px 10px;
    float: right;
    font-weight: 500;
    margin: 10px 5px;    
}

#name {
    font-size: 1.75em;
    font-weight: bold;
}

#profile {
    margin: 50px 0;
    text-align: justify;
    font-weight: 400;
    font-size: 1.5em;
}

.container {
    padding-top: 5%;
    background-color: #E9EDF5;
}

.content {
    margin: 15px;
}

#portfolio-button {
    text-align: center;
    border: 3px solid #011433;
    background-color: #5471A1;
    padding: 10px 0;
    border-radius: 15px;
    color: #E9EDF5;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    text-decoration: none;
}

#portfolio-button:hover {
    border: 3px double #E9EDF5;
    background-color: #89A2C9;
    color: #011433;
    box-shadow: 5px 5px 5px black;
}

#portfolio-button:active {
    border: 3px double #E9EDF5;
    background-color: #0D254A;
    color: #011433;
    box-shadow: 5px 5px 5px black;
}

/* For Overriding Bootstrap */
.bg-custom {
    background-color: #294675;
}

.nav-item:active {
    background-color: #0D254A;
    margin: 0 10px;
}

.column {
    display: block;

}

.progress-bar {
    height: 5px;
    margin: 0 0 20px;
}

.row.align-items-center > .column {
    font-weight: bold;
}

.progress-bar-custom-color {
    background-color: #5471A1 !important;
}